#cabecera-container{
	width: 100%;
	text-align: center;
	background-color: #ee5253;
	color:#FFFFFF;

}
#cabecera-container h2{
	padding:0;
	margin: 0;
}
#cabecera-menu{
	width: 100%;
	text-align: center;
	background-color: #ff6b6b;
	
}
#cabecera-menu ul li{
	list-style: none;
	display: inline-block;
	margin-top: 5px;
}

/*Calificaciones*/
#calificaciones{
	width: 100%;
	border: 1px solid #dee2e6; 
	margin-bottom:5px;
	padding: 12px;
	border-radius: 2px;
}
#barra-calificacion{
	margin: 5px;
}






/*formularios*/

.form-mi-css input, .form-mi-css select, .form-mi-css button{
	margin: 3px;
}
#form-busqueda{
	max-width: 300px;
	display: block;
	margin: auto;
}


/*cresultado casilla individual*/
#imagen-casilla-resul-ind img{
	width: 100%;
	margin-bottom: 5px;

}
#btn-ver-img{
	max-width: 200px;
	display: block;
	margin: auto;
}
#tabla-votos-por-partidos img{
	max-width: 50px;
	display: block;
	margin: auto;
}
#tabla-votos-por-uniones img{
	max-width: 50px;
}

/* index.html */

#img-candidatos{
	padding: 5px;
}
#img-candidatos img{
	width: 245px;
	margin: 20px;
	border-radius: 50px;
	-moz-transition:-moz-transform 0.1s ease-in; 
-webkit-transition:-webkit-transform 0.1s ease-in; 
-o-transition:-o-transform 0.1s ease-in; 
-ms-transition:-o-transform 0.1s ease-in;
}
#img-candidatos img:hover{
-moz-transform:scale(1.1); /*Escala en la que crece la imagen 1.8x*/
-webkit-transform:scale(1.1); /*Escala en la que crece la imagen 1.8x*/
-o-transform:scale(1.1); /*Escala en la que crece la imagen 1.8x*/
-ms-transform:scale(1.1); /*Escala en la que crece la imagen 1.8x*/
}
#img-candidatos a{

}